body {

}
#canvas {



}
#article {
    padding: 1%;
    border: solid darkblue;
    margin-top: 3%;



}
#btnSvar2 {
    margin-left: 42%;
    font-size: 220%;
    font-family: 'Indie Flower', cursive;
    cursor: pointer;

}
h1 {
    text-align: center;
    font-size: 260%;
    font-family: 'Indie Flower', cursive;
}
#divRamme {
    border: solid black 2px;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: black;

}
#imgGuide {
    margin-left: 70%;
    margin-top: 10%;
    max-width: 25%;
    max-height: 25%;

}
#pTekst {
    font-family: 'Indie Flower', cursive;
    font-size: 200%;
}
#pTall {
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
}
#pGuide {
    text-align: center;
    font-size: 220%;
    font-family: 'Indie Flower', cursive;
    color: white;
    margin-left: 2%;




}