body {

}
#canvas {



}
article {
    padding: 1%;
    border: solid darkblue;


}
#btnSvar2 {
    margin-left: 90%;

}
h1 {
    text-align: center;
    font-size: 260%;
}
#divRamme {
    border: solid black 2px;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    margin-left: 3%;
    margin-right: 3%;

}
#imgGuide {
    margin-left: 70%;
    margin-top: 10%;
    max-width: 25%;
    max-height: 25%;

}