body {
    overflow: hidden;
    background-color: black;
}
#hdnPoeng {
    color: darkorange;
}#hdnPoeng2 {
    color: blue;
}
#hdnPoeng,#hdnRekord, #hdnPoeng2 {
    font-size: 20px;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
}
#hdnPoeng, #hdnPoeng2 {
    float: left;
    padding-right: 1%;
}
#hdnRekord {
    float: right;
    padding-right: 15%;
    color: white;
}
